<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="pattern" value="%d{YYYY-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%thread] %-5level %logger{36}[%L] - %m%n" />
    <property name="appName" value="web-socket" />
    <property name="logHome" value="/home/hdr/IdeaProjects/logs" />
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%thread] %-5level %logger{36}[%L] - %msg%n"/>

    <springProfile name="default,dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${logPattern}</pattern>
            </encoder>
        </appender>

        <appender name="MyBatis" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logHome}/${appName}/mybatis-sql.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${logHome}/${appName}/mybatis-sql.log.%d{yyyy-MM-dd}</FileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${logPattern}</pattern>
            </encoder>
        </appender>

<!--        <logger name="mybatis.sql" level="DEBUG">-->
<!--            <appender-ref ref="MyBatis"/>-->
<!--        </logger>-->

        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>

</configuration>